/*--------3台机组样式(惠新物美)--------*/
.three_hxwm_left_waterbump01{
	width:225px;
	height:auto;
	overflow:hidden;
	position:absolute;
	top:170px;
	left:20px;
	display:none;
}
.three_hxwm_left_waterbump02{
	width:225px;
	height:auto;
	overflow:hidden;
	position:absolute;
	top:170px;
	left:20px;
	display:none;
}
.three_hxwm_left_waterbump03{
	width:225px;
	height:auto;
	overflow:hidden;
	position:absolute;
	top:170px;
	left:20px;
	display:none;
}
.three_hxwm_right_waterbump01{
	width:225px;
	height:auto;
	overflow:hidden;
	position:absolute;
	top:170px;
	right:110px;
	display:none;
}
.three_hxwm_right_waterbump02{
	width:225px;
	height:auto;
	overflow:hidden;
	position:absolute;
	top:170px;
	right:110px;
	display:none;
}
.three_hxwm_right_waterbump03{
	width:225px;
	height:auto;
	overflow:hidden;
	position:absolute;
	top:170px;
	right:110px;
	display:none;
}
.three_hxwm_cooler01{
	width:225px;
	height:auto;
	overflow:hidden;
	position:absolute;
	top:300px;
	left:530px;
	display:none;
}
.three_hxwm_cooler02{
	width:225px;
	height:auto;
	overflow:hidden;
	position:absolute;
	top:300px;
	left:530px;
	display:none;
}
.three_hxwm_cooler03{
	width:225px;
	height:auto;
	overflow:hidden;
	position:absolute;
	top:300px;
	left:530px;
	display:none;
}
.three_hxwm_fan01{
	width:225px;
	height:auto;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:750px;
	display:none;
}
.three_hxwm_fan02{
	width:225px;
	height:auto;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:750px;
	display:none;
}
.three_hxwm_fan03{
	width:225px;
	height:auto;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:750px;
	display:none;
}
/*偏移量 -XXpx*/
.three_hxwm_left_waterbump01_states{
	width:33px;
	height:14px;
	position:absolute;
	left:103px;
	top:347px;
	background:url(../images/configuration/hxwm/hxwm_left_waterpumb01_states.png) no-repeat center 0;
}
/*偏移量 -XXpx*/
.three_hxwm_left_waterbump02_states{
	width:33px;
	height:14px;
	position:absolute;
	left:103px;
	top:347px;
	background:url(../images/configuration/hxwm/hxwm_left_waterpumb02_states.png) no-repeat center 0;
}
/*偏移量 -XXpx*/
.three_hxwm_left_waterbump03_states{
	width:33px;
	height:14px;
	position:absolute;
	left:103px;
	top:347px;
	background:url(../images/configuration/hxwm/hxwm_left_waterpumb03_states.png) no-repeat center 0;
}
/*偏移量 -XXpx*/
.three_hxwm_right_waterbump01_states{
	width:30px;
	height:14px;
	position:absolute;
	right:105px;
	top:350px;
	background:url(../images/configuration/hxwm/hxwm_right_waterpumb01_states.png) no-repeat center 0;
}
/*偏移量 -XXpx*/
.three_hxwm_right_waterbump02_states{
	width:30px;
	height:14px;
	position:absolute;
	right:105px;
	top:350px;
	background:url(../images/configuration/hxwm/hxwm_right_waterpumb02_states.png) no-repeat center 0;
}
/*偏移量 -XXpx*/
.three_hxwm_right_waterbump03_states{
	width:30px;
	height:14px;
	position:absolute;
	right:105px;
	top:350px;
	background:url(../images/configuration/hxwm/hxwm_right_waterpumb03_states.png) no-repeat center 0;
}
/*偏移量 -XX*/
.three_hxwm_cooler01_states{
	width:39px;
	height:23px;
	background:url(../images/configuration/hxwm/hxwm_cooler01_states.png) no-repeat center 0;
	position:absolute;
	left:684px;
	top:440px;
}
/*偏移量 -XX*/
.three_hxwm_cooler02_states{
	width:39px;
	height:23px;
	background:url(../images/configuration/hxwm/hxwm_cooler02_states.png) no-repeat center 0;
	position:absolute;
	left:684px;
	top:440px;
}
/*偏移量 -XX*/
.three_hxwm_cooler03_states{
	width:39px;
	height:23px;
	background:url(../images/configuration/hxwm/hxwm_cooler03_states.png) no-repeat center 0;
	position:absolute;
	left:684px;
	top:440px;
}
/*偏移量 -XXpx*/
.three_hxwm_fan01_states{
	width:84px;
	height:43px;
	background:url(../images/configuration/hxwm/hxwm_fan01_states.png) no-repeat center 0;
	position:absolute;
	left:952px;
	top:47px;
}
/*偏移量 -XXpx*/
.three_hxwm_fan02_states{
	width:84px;
	height:43px;
	background:url(../images/configuration/hxwm/hxwm_fan02_states.png) no-repeat center 0;
	position:absolute;
	left:952px;
	top:47px;
}
/*偏移量 -XXpx*/
.three_hxwm_fan03_states{
	width:84px;
	height:43px;
	background:url(../images/configuration/hxwm/hxwm_fan03_states.png) no-repeat center 0;
	position:absolute;
	left:952px;
	top:47px;
}
.one_bqjwm_configuration_text .num01{
	position:absolute;
	left:260px;
	top:200px;
}
.one_bqjwm_configuration_text .num02{
	position:absolute;
	left:450px;
	top:200px;
}
.one_bqjwm_configuration_text .num03{
	position:absolute;
	left:760px;
	top:200px;
}
.one_bqjwm_configuration_text .num04{
	position:absolute;
	right:220px;
	top:200px;
}
/*--------3台机组样式(惠新物美)--------*/